################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web-Development/Blazor-SharePointOnline/.vs/Blazor-SharePoint
