@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');

/* VARIABLES */
:root {
  --main-bg-color-dark: #212529;
  --main-text-color-dark: #e8e8e8;
  --highlight-color: #7f78d2;
  --box-bg-color: #413c69;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color-dark);
  color: var(--main-text-color-dark);
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  font-size: 45px;
  color: var(--highlight-color);
}

.countdown-wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0;
}

.countdown-box {
  background-color: var(--box-bg-color);
  font-size: 50px;
  font-weight: 700;
  color: #dcd6f7;
  border-radius: 15px;
  width: 160px;
  height: 160px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.countdown-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.legend {
  font-size: 30px;
  color: #a6b1e1;
}

.wish-message {
  font-size: 45px;
  font-weight: 700;
}

.birthdate {
  font-size: 25px;
  font-weight: 600;
  color: var(--highlight-color);
}

.credits {
  margin-top: 15px;
}

.github-logo {
  opacity: 0.5;
  width: 50px;
  transition: opacity 0.3s;
}

.github-logo:hover {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.form input,
select {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-text-color-dark);
  transition: border 0.5s;
}

input:focus,
select:focus,
.btn:focus {
  border: 1px solid rgba(255, 255, 255, 1);
  transition: all 0.5s;
}

.btn {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--highlight-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #413c69;
}

a {
  color: var(--highlight-color);
  font-weight: bold;
  margin-top: 20px;
}

.gen-link {
  margin-top: 20px;
  font-size: 40px;
}
